<p-toast position="top-right" key="sigin"></p-toast>

<div
  class="flex justify-content-center align-items-stretch"
  [style]="{ 'height': '100vh'}"
>
  <p-card
    header="CADASTRO"
    [style]="{
      'margin-top': '10em',
      width: '25rem',
      'margin-bottom': '2em',
      'margin-right': 'auto',
      'margin-left': 'auto'
    }"
  >
    <ng-template pTemplate="header">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-left"
        class="p-button-rounded"
        [style]="{'margin-top': '5px'}"
        routerLink=""
      ></button>
    </ng-template>
    <div [formGroup]="userFormCreate">
      <input
        [style]="{ width: '100%' }"
        type="text"
        pInputText
        placeholder="Nome Completo"
        formControlName="nome"
      />
      <p-divider></p-divider>
      <input
        [style]="{ width: '100%' }"
        type="text"
        pInputText
        placeholder="Email"
        formControlName="email"
      />
      <p-divider></p-divider>
      <input
        [style]="{ width: '100%' }"
        type="password"
        pInputText 
        placeholder="Senha"
        formControlName="senha"
        minlength="2"
      />
      <p-divider></p-divider>


      <button (click)="criarConta()" [style]="{ 'margin-left': '30%' }" pButton>
        Criar Conta
      </button>
    </div>
  </p-card>
</div>