<video autoplay loop [muted]="true" id="background-video">
    <source src="../../assets/welcome.mp4" type="video/mp4">
</video>


<div class="card">
    <div class="flex justify-content-center flex-wrap card-container yellow-container">
        <div class="flex align-items-center justify-content-center border-round m-2 mt-5">
            <button 
            pButton
            routerLink="/"
            >ENTRAR</button>
        </div>
        <div class="flex align-items-center justify-content-center border-round m-2 mt-5">
            <button 
            pButton
            routerLink="/criar-conta"
            >CRIAR CONTA</button>
        </div>

    </div>
</div>