

<div
  class="flex justify-content-center align-items-stretch"
  [style]="{ 'margin-top': '5em' }">
<p-card 
[style]="{ width: '50%', 'margin-bottom': '2em', 'margin-right': 'auto','margin-left': '2rem' }">
 
    <h3>Bem Vindo(a): {{this.nome | titlecase}}</h3>
    <ng-template pTemplate="sub-header">
        <h2>Conta: {{this.numero_conta}}</h2>
        <h1>SALDO: {{this.saldo | currency:'BRL'}}</h1>
    
    </ng-template>
    <p-divider></p-divider>  
</p-card>
</div>

<p-dialog
  [(visible)]="criarFuncionariosDialog"
  [style]="{ width: '500px', height: '420px' }"
  header="Transferir"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content" [formGroup]="transferenciaForm">

   
    <div class="field">
      <label for="nome_completo">Numero da conta<span class="p-error">(Obrigatório)</span></label>
      <input
        type="number"
        formControlName="numero_conta_recebedor"
        pInputText
        id="numero_conta_recebedor"
        required
        minlength="6"
        maxlength="6"
      />
    </div>

    <p-divider></p-divider>

    <div class="field">
        <label for="nome_completo">Valor a ser transferido<span class="p-error">(Obrigatório)</span></label>
        <input
          type="number"
          formControlName="valor"
          pInputText
          id="valor"
          required
        />
      </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Criar"
      icon="pi pi-plus-circle"
      class="p-button-text"
      (click)="inserirFuncionario()"
    ></button>
  </ng-template>

</p-dialog>


<button
  pButton
  pRipple
  type="button"
  label="Novo"
  icon="pi pi-plus-circle"
  class="p-button-success"
  [style]="{ 'margin-left': '2rem' }"
  (click)="dialogCriar()"
></button>

<!-- <p-table [value]="historico" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Dia/Hora</th>
            <th>Nome</th>
            <th>Quantidade</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.nome}}</td>
            <td>{{product.nome}}</td>
            <td>{{product.nome}}</td>
        </tr>
    </ng-template>
</p-table> -->
