

<div class="bg">
  <p-progressSpinner 
  *ngIf="isLoading"
  [style]="{
    width: '300px', 
    height: '300px',
    'margin-left': '40%',
    'margin-bottom': '60vh',
    'margin-top': '5rem'}"
  styleClass="custom-spinner" 
  strokeWidth="8" 
  fill="var(--surface-ground)" 
  animationDuration=".5s"
  ></p-progressSpinner>
<button 
*ngIf="!isLoading"
pButton 
pRipple 
type="button" 
icon="pi pi-file-pdf"
class=" ml-5 mt-5 p-button-rounded p-button-danger"
(click)="printSimplePdf()"
></button>

<p-table 
#content
*ngIf="!isLoading"
[value]="transferencias" 
[tableStyle]="{ 
    'min-width': '50rem',
    'width': '90%', 
    'margin-top': '3rem', 
    'margin-left': 'auto', 
    'margin-right': 'auto',
    'margin-bottom': '60vh'
  }">
  <ng-template pTemplate="header">
    <tr>
      <th>Data</th>
      <th>Valor</th>
      <th>Nome</th>
      <th>Conta</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transferencia>
    <tr>
      <td>{{ transferencia.criado_em | date : "short" : "UTC-4" : "pt-BR" }}</td>
      <td [ngStyle]="{'color':transferencia.valor.toString().startsWith('-') ? '#f50505' : '#25f505' }"> {{transferencia.valor | currency:"BRL"}}</td>
      <td>{{ transferencia.nome | titlecase }}</td>
      <td>{{ transferencia.conta }}</td>
    </tr>
  </ng-template>
</p-table>
</div>
<!-- <app-historico-recebido></app-historico-recebido> -->

